.cache/
test/files
logfiles/
qcproj/*pyc
qcproj/settings_local.py
*.txt
.clear_cedacc.sh
test.txt
logs_02/
tests/
missing_files/ 
MULTIFILE-TEST
CF-FATAL
test*.py
*json
*.csv
*.pyc
*.log
OUTPUT-LOGS/
lotus-logs/
log_dir/
tests/

# Database
db.sqlite*

# CEDA-CC output
cccc*
Rec*
amapDraft.txt
cedacc-out/
.clear_cedacc

*.zip
*.out
*.GOOD
*.OLD
tests.py
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
