<br>
<br>
{% extends 'qcapp/base.html' %}
{% load static %}
{% block contents %}

<h4> CEDA-CC Errors </h4>

    {% for errmsg, filelist in cf_errs.items %}

            <button class="btn btn-primary btn-sm" type="button" data-toggle="collapse" data-target="#{{forloop.counter}}">
                 Show list of files <span class="badge">{{ filelist|length }}</span>
            </button> {{ errmsg }}
            <div class="collapse" id="{{forloop.counter}}">
                <div class="well" style="max-height: 300px; overflow-y: auto">
                    {% for file, report in filelist.items %}
                        <a href="{% static report %}"> {{ file }} </a>
                        <BR>
                    {% endfor %}
                    <BR>
                </div>
            </div>
            <BR>
            <BR>
    {% endfor %}



{% endblock %}