<br>
<br>



{% extends 'qcapp/base.html' %}

{% block contents %}
<h2>Select project </h2>

<h2>Select experiments to find the number of models and volume of data available</h2>

<form action="/data-spec/" method="get">
<label class="checkbox-inline"><input type="checkbox" name='historical' value="">historical</label>
<label class="checkbox-inline"><input type="checkbox" name='piControl' value="">piControl</label>
<label class="checkbox-inline"><input type="checkbox" name='amip' value="">amip</label>
<label class="checkbox-inline"><input type="checkbox" name='rcp26' value="">rcp26</label>
<label class="checkbox-inline"><input type="checkbox" name='rcp45' value="">rcp45</label>
<label class="checkbox-inline"><input type="checkbox" name='rcp60' value="">rcp60</label>
<label class="checkbox-inline"><input type="checkbox" name='rcp85' value="">rcp85</label>
<br>
<input class="btn btn-success btn-sm" type="submit" value="Submit">
<br>
<h3> Selected experiments: </h3>
<p> {{ expts }} </p>
</form>

<table class="table table-hover">
<thead> <tr> <th>Variable</th> <th>Long Name</th> <th>CMOR table</th> <th>Frequency</th> <th>Number of Models</th> <th>Data Volume (GB)</th> </thead>
<tbody>

    {% for var in dataSpec %}

    <tr> <th scope=row>{{var.variable}}</a> </th> <td>{{ var.variable_long_name }}</td> <td>{{ var.cmor_table }}</td>
        <td>{{ var.frequency }}</td> <td>{{ var.number_of_models }}</td> <td>{{ var.data_volume|floatformat:2 }}</td>
    </tr>

    {% endfor %}

</tbody>

</table>


{% endblock %}
