<br>
<br>

{% extends 'qcapp/base.html' %}

{% block contents %}
tos_Omon_GFDL-CM3_historical_r2i1p1_197501-197912.nc

<h2>Internal Metadata consistency (CEDA-CC)</h2>
<h3>ERRORS: </h3>
C4.002.005: [variable_ncattribute_mipvalues] :Variable [tos] has incorrect attributes:standard_name="surface_temperature" [correct:"sea_surface_temperature"]


<h2>Climate and Forecast convention compliance (CF-Checker)</h2>
<h3>ERRORS: 0</h3>
<h3>WARNINGS: 2</h3>
WARNING (3): No standard_name or long_name attribute specified
WARNING (3.1): units attribute should be present

{% endblock %}
