<br>
<br>
{% extends 'qcapp/base.html' %}

{% block contents %}

<h4>Dataset: {{ dataset_id }} </h4>
<h4>File: {{ filename }} </h4>

<h2>QC summary</h2>


<table class="table table-hover">
<thead> <tr> <th>QC</th> <th>Number of errors</th>  </thead>
<tbody>

    <tr> <th scope=row> Global errors </th> <td>{{ qc_error_counts.global }}</td> </tr>
    <tr> <th scope=row> Variable errors </th> <td>{{ qc_error_counts.variable }}</td> </tr>
    <tr> <th scope=row> Other errors </th> <td>{{ qc_error_counts.other }}</td> </tr>


</tbody>

</table>
<HR/>

<h2>Details</h2>

<h3>CEDA-CC-NEW</h3>

<a href="/static/test.txt"> Help </a>
{% load static %}
<a href="{% static "test.txt" %}"> My file </a>

<table class="table table-hover">
<thead> <tr> <th>Error type</th> <th>Error Message</th>  </thead>
<tbody>

    {% for err in qc_errors %}

    <tr> <th scope=row> {{ err.error_type }} </th> <td>{{ err.error_msg }}</td> </tr>

    {% endfor %}

</tbody>

</table>

<h3>CF-Checker</h3>

{% endblock %}