{% extends 'qcapp/base.html' %}
{% block extrahead %}
    <script src="https://use.fontawesome.com/65011007f8.js"></script>
{% endblock %}

{% block contents %}
    <div class="container">

        <div class="row">
            <p class="large">
                This a data availability tool for Global Climate Projections provided to the Copernicus 
		Climate Data store. The
                Copernicus Climate Change Service (C3S) Climate Data Store make available a quality controlled subset of CMIP5 data. 
		This tool allows users to see what data is available. 
            </p>
            <p class="large">
                A user can interrogate the data by variable or model. A more complex query can submitted using
                the data availability matrix. The data availability matrix filter allows users to search the CMIP5 subset for one or more
                variables within one or more experiments simulataneously.
            </p>
           
        </div>


        <div class="row">
            <h2>Interrogate the data by:</h2>
            <div style="padding-top: 15px">
                <div class="col-sm-6 col-md-4">
                    <a href="{% url 'variable-details' %}" class="panel-link">
                        <div class="panel panel-default" align="center">
                            <div class="panel-heading">
                    <span class="fa-stack fa-5x">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-thermometer-three-quarters fa-stack-1x fa-inverse"></i>
                    </span>
                            </div>
                            <div class="panel-body">
                                <h3>Variable</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a href="{% url 'model-details' %}" class="panel-link">
                        <div class="panel panel-default" align="center">
                            <div class="panel-heading">
                    <span class="fa-stack fa-5x">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-sitemap fa-stack-1x fa-inverse" ></i>
                    </span>
                            </div>
                            <div class="panel-body">
                                <h3>Model</h3>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="col-sm-6 col-md-4">
                    <a href="{% url 'data-availability-matrix' %}" class="panel-link">
                        <div class="panel panel-default" align="center">
                            <div class="panel-heading">
                    <span class="fa-stack fa-5x">
                      <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="glyphicon glyphicon-stats" style="color:white"></i>
                    </span>
                            </div>
                            <div class="panel-body">
                                <h3>Data Availability Matrix</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
