<br>
<br>
{% extends 'qcapp/base.html' %}

{% block contents %}

<table class="table table-hover">
<thead>
    <tr> <th>QC </th> <th>Total Number of errors </th> <th>Number of CEDA-CC errors </th> <th>Number of CF errors </th>
</thead>
<tbody>

    <tr> <th scope=row> Timeseries completeness </th>  </tr>
    <tr> <th scope=row> Global errors </th> </tr>
    <tr> <th scope=row> Variable errors </th> </tr>
    <tr> <th scope=row> Other errors </th> <td></td> <td></td> <td></td> </tr>


</tbody>

</table>
<HR/>


<table class="table table-hover">
<thead>
    <tr> <th>File </th> <th>Global errors </th> <th>Variable errors </th> <th>Other errors </th>
</thead>
<tbody>

{% for file, errs in timeseries_datafile_errors.iteritems %}
<tr> <th scope=row> <a href="http://127.0.0.1:8000/file-qc/{{file}}">{{file}}</a> </th>
        <td> {{ errs.global }} </td> <td> {{ errs.variable }} </td> <td> {{ errs.other }} </td>
</tr>
{% endfor %}

</tbody>

</table>


{% endblock %}