{% extends 'qcapp/base.html' %}
{% load static %}
{% block contents %}

<table class="table table-hover">

        <thead>
        <th>Variable</th>

        </thead>
        <tbody>

        <tr>
            <td>
                <select class="facet-filter" id="model" name="model">
                    <!--somewhere here set the default width using css-->
                    <!--NEED TO ONLY DISPLAY BELOW IF NO SELECTION HAS BEEN MADE-->
                    <option value="All">All</option>

                </select>
            </td>
        </tr>

        </tbody>

    </table>





{% endblock %}