html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
    padding-top: 50px;
    position: relative;
    margin: 0;
    padding-bottom: 7em;
    min-height: 100%;
}

footer{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 1em;
    background-color: whitesmoke;
}


.qcapp-main-container {
    top: 100px;
}
.facet-filter {
    height: 20px;
    width: 150px;
}


.ensemble-tag {
    float: left;
    display: block;
    border: solid;
    border-width: 1px;
    padding: 2px 5px;
    border-radius: 5px;
    background-color: #c4dce8;

}

.chosen-choices{
    max-height: 150px;
}

.static-header{
    margin-top: 10px;
    border-bottom: solid;
    display: none;
    }


nav div a {
    color: white;
}

.navbar-brand:hover{
    color: #bfbfbf;
}

.navbar-brand:active{
    color: #bfbfbf;
}


.copernicus{
    background-color: #971e35;
    color: white;
}

.copernicus:hover{
    color: #bfbfbf;
}
.copernicus:active{
    color: #bfbfbf;
}
.copernicus:focus {
    color: white
}



