html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.navbar-fixed-top{
    top:90px;
}

#logo{
    top: 0px;
    position: fixed;
    width: 100%;
    padding: 10px 15px 5px 15px;
    z-index: 1;
}

@media (min-width: 1000px){
    .affix{
        position: fixed;
    }
}
@media (max-width: 999px){
    .affix{
        position: static;
    }
}

body {
    padding-top: 150px;
    position: relative;
    margin: 0;
    padding-bottom: 7em;
    min-height: 100%;
}

footer{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 1em;
    background-color: whitesmoke;
}


.qcapp-main-container {
    top: 100px;
}
.facet-filter {
    height: 20px;
    width: 150px;
}


.ensemble-tag {
    float: left;
    display: block;
    border: solid;
    border-width: 1px;
    padding: 2px 5px;
    border-radius: 5px;
    background-color: #c4dce8;

}

.chosen-choices{
    max-height: 150px;
}

.static-header{
    margin-top: 10px;
    border-bottom: solid;
    display: none;
    }


nav div a {
    color: white;
}

.navbar-brand:hover{
    color: #bfbfbf;
}

.navbar-brand:active{
    color: #bfbfbf;
}

.copernicus-panel{
    background: #971e35;
    color: white;
}

.copernicus{
    background-color: #971e35;
    color: white;
}

.copernicus:hover{
    color: #bfbfbf;
}
.copernicus:active{
    color: #bfbfbf;
}
.copernicus:focus {
    color: white
}

.panel-link {
    cursor: pointer;
}
.panel-link:hover{
    text-decoration: none;
}

.large{
    font-size: large;
}

.section{
    padding-top: 150px;
    margin-top:-150px
}

.nav-pills li.active a{
    background-color: #971e35!important;
    color: white!important;
}

.nav-pills li a{
    color: #971e35!important;
}