cp4cds,,,,,,
variable,cmor_table,frequency,variable_longname,numb_experiments,numb_models,data_volume
tas,Amon,mon,Near-surface (2m) air temperature (SAT),7,11,132.6428
ts,Amon,mon,Surface temperature (Skin/SST),7,11,122.4069
tasmax,Amon,mon,Daily max SAT,7,9,129.5315
tasmin,Amon,mon,Daily min SAT,7,9,128.6488
psl,Amon,mon,Sea-level pressure,7,11,130.6023
ps,Amon,mon,Surface pressure,7,10,124.2006
uas,Amon,mon,Near-surface (10m) U-wind,7,6,90.105
vas,Amon,mon,Near-surface (10m) V-wind,7,6,90.1122
sfcWind,Amon,mon,Near-surface (10m) wind speed,7,6,83.1138
hurs,Amon,mon,Near-surface relative humidity,7,9,106.2744
huss,Amon,mon,Near-surface specific humidity,7,8,107.8666
pr,Amon,mon,Precipitation,7,11,127.0599
prsn,Amon,mon,Snowfall,7,11,119.0299
evspsbl,Amon,mon,Evaporation,7,11,129.0741
tauu,Amon,mon,Surface E-ward wind stress (downw),7,11,114.8523
tauv,Amon,mon,Surface N-ward wind stress (downw),7,11,114.7948
hfls,Amon,mon,Surface latent heat flux (upw),7,11,120.101
hfss,Amon,mon,Surface sensible heat flux (upw),7,11,122.9546
rlds,Amon,mon,Surface downwelling longwave radiation,7,11,126.0672
rlus,Amon,mon,Surface upwelling longwave radiation,7,11,114.7569
rsds,Amon,mon,Surface downwelling shortwave radiation,7,11,127.015
rsus,Amon,mon,Surface upwelling shortwave radiation,7,11,115.705
rsdt,Amon,mon,TOA incident shortwave radiation,7,11,123.2365
rsut,Amon,mon,TOA outgoing shortwave radiation,7,11,115.9889
rlut,Amon,mon,TOA outgoing longwave radiation,7,11,125.6923
clt,Amon,mon,Total cloud fraction,7,11,120.8098
mrsos,Lmon,mon,Soil moisture content (total column),7,9,183.2017
mrro,Lmon,mon,Total runoff,7,9,101.9273
snw,LImon,mon,Surface snow amount,7,7,111.3756
tos,Omon,mon,Sea surface temperature,7,1,334.6708
sos,Omon,mon,Sea surface salinity,7,1,300.708
zos,Omon,mon,Sea surface height above geoid,7,0,360.6534
sic,OImon,mon,Sea ice fraction,7,3,359.6116
sit,OImon,mon,Sea ice thickness,7,2,356.1006
snd,OImon,mon,Snow depth over sea ice,7,1,315.4161
sim,OImon,mon,Sea ice + snow amount,7,1,151.2568
tsice,OImon,mon,Sea ice surface temperature,7,1,238.9569
ta,Amon,mon,Air temperature,7,11,2261.3173
ua,Amon,mon,U-wind,7,11,2252.2526
va,Amon,mon,V-wind,7,11,2264.5015
hur,Amon,mon,Specific humidity,7,11,2120.9035
hus,Amon,mon,Relative humidity,7,11,2244.4915
zg,Amon,mon,Geopotential height,7,11,2275.2725
tas,day,day,Near-surface (2m) air temperature (SAT),7,10,5613.1687
tasmax,day,day,Daily max SAT,7,10,5581.307
tasmin,day,day,Daily min SAT,7,10,5629.1814
psl,day,day,Sea-level pressure,7,9,5436.4157
sfcWind,day,day,Near-surface (10m) wind speed,7,5,3445.9502
huss,day,day,Near-surface specific humidity,7,6,3443.6064
pr,day,day,Precipitation,7,10,5561.4046
tas,Amon,mon,Near-surface (2m) air temperature (SAT),3,38,86.7173
ts,Amon,mon,Surface temperature (Skin/SST),3,37,79.1142
tasmax,Amon,mon,Daily max SAT,3,37,84.1557
tasmin,Amon,mon,Daily min SAT,3,36,83.2655
psl,Amon,mon,Sea-level pressure,3,38,85.2595
ps,Amon,mon,Surface pressure,3,37,81.0809
uas,Amon,mon,Near-surface (10m) U-wind,3,30,61.4269
vas,Amon,mon,Near-surface (10m) V-wind,3,30,61.4317
sfcWind,Amon,mon,Near-surface (10m) wind speed,3,26,54.0082
hurs,Amon,mon,Near-surface relative humidity,3,31,66.9248
huss,Amon,mon,Near-surface specific humidity,3,32,68.0594
pr,Amon,mon,Precipitation,3,38,85.1538
prsn,Amon,mon,Snowfall,3,38,78.807
evspsbl,Amon,mon,Evaporation,3,36,83.8351
tauu,Amon,mon,Surface E-ward wind stress (downw),3,37,75.8898
tauv,Amon,mon,Surface N-ward wind stress (downw),3,37,75.8536
hfls,Amon,mon,Surface latent heat flux (upw),3,37,79.1944
hfss,Amon,mon,Surface sensible heat flux (upw),3,37,81.9886
rlds,Amon,mon,Surface downwelling longwave radiation,3,36,81.8672
rlus,Amon,mon,Surface upwelling longwave radiation,3,36,76.4899
rsds,Amon,mon,Surface downwelling shortwave radiation,3,37,82.4785
rsus,Amon,mon,Surface upwelling shortwave radiation,3,37,77.1014
rsdt,Amon,mon,TOA incident shortwave radiation,3,38,82.0351
rsut,Amon,mon,TOA outgoing shortwave radiation,3,37,76.9669
rlut,Amon,mon,TOA outgoing longwave radiation,3,37,80.8186
clt,Amon,mon,Total cloud fraction,3,37,79.8438
mrsos,Lmon,mon,Soil moisture content (total column),3,29,114.8731
mrro,Lmon,mon,Total runoff,3,32,68.2086
snw,LImon,mon,Surface snow amount,3,35,74.302
tos,Omon,mon,Sea surface temperature,3,35,250.1915
sos,Omon,mon,Sea surface salinity,3,32,224.9581
zos,Omon,mon,Sea surface height above geoid,3,34,280.9574
sic,OImon,mon,Sea ice fraction,3,39,272.6915
sit,OImon,mon,Sea ice thickness,3,39,272.6958
snd,OImon,mon,Snow depth over sea ice,3,32,239.3155
sim,OImon,mon,Sea ice + snow amount,3,16,124.8788
tsice,OImon,mon,Sea ice surface temperature,3,26,178.1096
ta,Amon,mon,Air temperature,3,38,1525.1709
ua,Amon,mon,U-wind,3,38,1521.3009
va,Amon,mon,V-wind,3,38,1533.5498
hur,Amon,mon,Specific humidity,3,37,1422.4048
hus,Amon,mon,Relative humidity,3,38,1512.7898
zg,Amon,mon,Geopotential height,3,38,1535.1964
tas,day,day,Near-surface (2m) air temperature (SAT),3,31,3650.2724
tasmax,day,day,Daily max SAT,3,32,3632.1953
tasmin,day,day,Daily min SAT,3,31,3619.7067
psl,day,day,Sea-level pressure,3,31,3506.0447
sfcWind,day,day,Near-surface (10m) wind speed,3,21,2322.009
huss,day,day,Near-surface specific humidity,3,24,2177.484
pr,day,day,Precipitation,3,32,3631.8033